@tailwind base;
@tailwind components;
@tailwind utilities;

/* ______________________________________________________________________ *\
   Import Local Fonts
\* ______________________________________________________________________ */
@font-face {
  font-family: "Cinzel Decorative";
  font-weight: 700;
  src: url("../assets/fonts/cinzelDecorative-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ibarra Real Nova";
  font-weight: 400;
  src: url("../assets/fonts/ibarraRealNova-regular.ttf") format("truetype");
}

/* ______________________________________________________________________ *\
   Custom CSS rules
\* ______________________________________________________________________ */

/* Custom CSS rules for base HTML elements */
@layer base {
  h1 {
    @apply font-cinzel text-4xl text-neutral-lightest;
  }

  button {
    cursor: pointer;
  }
}

/* Custom CSS rules for components (.card, .btn, ...) */
@layer components {
  .form__label {
    @apply block font-ibarra text-lg text-neutral-lightest;
  }

  .form__input {
    @apply mt-2 block w-[400px] rounded-full bg-neutral-lightest/50 px-12 py-3 text-base text-neutral-light backdrop-blur-[4px] placeholder:text-base placeholder:text-neutral-light;
  }

  .form__btn {
    @apply w-[180px] rounded-full py-3 font-cinzel text-base;
  }
}

/* Custom CSS rules for utilities (.layout, .shadow, ...) */
@layer utilities {
}
